NODE_ENV=development
PORT=3030
MAINTENANCE_MODE=false

STRIPE_PUBLIC_KEY=pk_test_51NDQjILdqsazIEMPNSdemHUYg7eQRunwa9i4MydZNHQPuJB9fot8zyDPymQy9Zo4S8kCi883NYZinvF9JrRLP3xL00NKXBhPlq
STRIPE_SECRET_KEY=sk_test_51NDQjILdqsazIEMPAltn3ybKt7KZt19umVec4spGqlWFrV98X4REH1x6xZJ9LyUozrbesA6chIK6zIBcsauHuO1q00UsWmsOIS
STRIPE_WEBHOOK_SECRET=whsec_HbGiULCNIyQLPSDyY1GFSglbyfhTnetX

DATABASE_URL="postgresql://postgres:LoremIpsum-2023-pairprogramming@db.tjcjhomqkczibtdqxdpx.supabase.co:5432/postgres"
DB_USERNAME=postgres
DB_PASSWORD=LoremIpsum-2023-pairprogramming
DB_NAME=postgres
DB_HOST=db.tjcjhomqkczibtdqxdpx.supabase.co
